@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container {
    position: relative;
    margin-top: 20vh;
    width: 400px;
    height: 400px;
    background-color: blue;
}
.box {
    position: absolute;
    top: 0px;
    width: 200px;
    height: 200px;
    background-color: greenyellow;
}