@charset "UTF-8";
body{ 
    height: 100vh;
    font-size: 10px;
    background: black url('../imagens/wallpaper002.jpg') center center no-repeat  fixed; 
    background-size: cover;
    /* shorthand- backgruond 
     color> image > position > repeat> [size] > attachment*/
}

main{
    background-color: white;
    max-width:700px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}